$button-bg: $shade-color;
$button-active-bg: #F2703A;

// =Buttons
.button-group {
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
        display: inline-block;
    }
    
}


button,
.button {

    display: block;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    background: $button-bg;
    color: #000;

    
    &:hover {
        background: lighten( $button-bg, 20% );
    }
    

    &.active {
        background: $button-active-bg;
    }
}



