.graph {
    
    min-height: 240px;

    padding: {
        left: $map-offset;
        top: 50px;
        bottom: 50px;
    };
    

    .button-group {
        
        font-size: em-calc( 12px );

        li {
            &:nth-child(1) {
                width: 144px;
            }
            &:nth-child(2) {
                width: 70px;
            }
            &:nth-child(3) {
                width: 140px;
            }   
        }
    }
    

    
    [data-area="popular"].active {
        background-color: #2DB46A;
    }

    [data-area="santo-domingo-savio"].active {
        background-color: #FDC140;
    }

}