$map-width: 566px;
$map-offset: 181px;

%map-content {
    width: $map-width;
}

.pull-map-content {
    @extend %map-content;
    margin-left: $map-offset * -1;
}

.map {
    @extend %map-content;
    position: relative;
}

.map #locations {
    
    circle {
        cursor: pointer;
        @include transform( scale( 1 ) );
        @include transform-origin( 50% );
        
        &.active,
        &:hover {
            fill: #000;
            @include transform( scale( 1.4 ), translateZ( 100 ) );
        }
    }
}


.js #location-content {

    > div {
        display: none;
    }

}


.map-icon {
    
    font-family: $callout-font-family;
    font-size: 16px;
    
    a {
        text-decoration: none;
        color: $txt-base-color;
    }

    span {
        display: block;
        text-transform: uppercase;
        position: relative;
        line-height: 20px;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            width: 10px; height: 10px;
            border: 5px solid #000;
            @include border-radius(50px);
        }

    }
    
    &.medellin-icon {

        span {
            padding-left: 40px;
            @include transform( rotate(-90deg) );
            &:after {
                left: 10px;
                
            }
        }
    }

    &.porto-icon {
        span {
            @include transform( rotate(-90deg) );
            direction: rtl;
            padding-right: 40px;
            &:after {
                right: 10px;
            }
        }
    }


}

