$image-margin: 20px;

$caption-border: 1px solid black;
$caption-font-size: 13px;
$caption-margin: 20px;
$caption-padding: 10px;


figure {
    position: relative;
}

figure,
img {
    
    &.alignleft {
        margin-right: $image-margin;
    }

    &.alignright {
        margin-left: $image-margin;
    }

    &.alignleft,
    &.alignright {
        margin-top: $image-margin;
    }

}

img {
    border: 0;
    max-width: 100%;
}


figure,
img {
    &.big-border,
    &.border {
        border: 1px solid white;
    }

    &.big-border {
        border-width: 10px;
    }
}


.caption,
figcaption {
    
    font-size: em-calc( $caption-font-size );
    padding-top: $caption-padding;

    &.bordered {
        border-top: $caption-border;
        margin: $caption-margin 0; 
           
        width: 280px;
    }

    &.out-of-flow {
        min-height: 180px;
        position: absolute;
    }

    &.light-caption {
        @extend .light-text;
        border-top-color: white;
    }

    &.large {
        font-size: em-calc( $caption-font-size + 5 );
        font-weight: bold;
    }
}

    


.image-col {
    img:first-child {
        margin-right: 10px;
    }
}


