.tabs {
    
    .tab-content-wrap,
    > ul {
        @include cf();
        position: relative;
    
        li {
            @extend %sizing;
            display: inline-block;
            float: left;
        }
    }
    

    [data-tab] {
        display: block;
        text-decoration: none;
        color: white;
        padding: 2px 4px;

        &.current {
            text-decoration: underline;
        }
    }

    [data-tab-content] {
        z-index: 0;
        opacity: 0;
        position: absolute;
        left: 0; top: 0;
        
        &.last {
            opacity: 0;
            @include transition-delay(.25s);
        }

        &.current {
            z-index: 1;
            opacity: 1;
        }

        @include transition( opacity .5s linear, z-index .5s linear );
        
        
    }


}