%timeline-transform-ease {
    @include transition( transform .5s ease );
    @include transition-delay( .5s );
}

%timeline-points-transition {
    @include transition( opacity .5s linear );
}

.timeline {
    overflow: hidden;
    padding: 0 0;
}

.timeline-medellin {
    
    #line-graph {
        stroke-dasharray: 750px;
        stroke-dashoffset: 750px;
    }
    
    #data-points g {
        opacity: 0;
    }
    
}



.__porto-2000 {
    
    width: 775px;

    #points {
        @extend %timeline-points-transition;
        opacity: 0;   
    }

    @include transform( translateX( 0 ) );
}

.__porto-2008 {
   
   width: 796px;

   svg {
    margin-top: 26px;
   }

    #points-top,
    #points-bottom {
        @extend %timeline-points-transition;
        opacity: 0;
    }

    @include transform( translateX( 103% ) );

}

#y-axis-08 {
    @extend %timeline-transform-ease;
    @include transform( translateX( -5% ) );
}


.timeline-button {

    @extend %timeline-transform-ease;

    position: absolute;
    bottom: 350px;
    
    &:after {
        position: absolute;
        right: -34px; top: 0;
        @include css-triangle( 17px, #000, left );
    }

    @include transform( translateX( 640px ) );

}

.timeline-wrap {
    overflow: hidden;
    position: relative; 

    &.porto {
        
        min-height: 717px;
        
        .timeline {
            position: relative;
        }
    }
    
    &.timeline-ready {
        
        #points {
            opacity: 1;
        }

        .timeline {
            @extend %timeline-transform-ease;
            position: absolute;
            top: 0;
        }

    }

    &.show-2008 {
        
        .timeline-button {
            
            &:after {
                left: -34px;
                right: auto; top: 0;
                border-right-style: solid;
                border-color: transparent #000 transparent transparent;
            }

            @include transform( translateX( 40px ) );
        }

        .__porto-2008 {
            @include transform( translateX( 5% ) );
            
            #points-top,
            #points-bottom {
                opacity: 1;
            }

            #y-axis-08 {
                @include transform( translateX( 0 ) );
            }
            
        }
        
        .__porto-2000 {
            @include transform( translateX( -98% ) );

            #points {
                opacity: 0;
            }

        }

    }

}