
.top-bar {
    
    @extend %cf;
    position: relative;
    height: $top-bar-height;
    padding: $top-bar-padding;
    
    font: {
        family: $top-bar-font-family;
        size: em-calc( $top-bar-font-size );
    };
    
    background: $top-bar-bg;
    z-index: $top-bar-zindex;
    

    a {
        text-decoration: none;
        display: block;
    }
    
    > a {
        width: 15%;
        height: $top-bar-height;
        float: left;
        line-height: $top-bar-height - 10px;
        @include ir;
        @include bg( "brackets.png", $position: 10px center, $repeat: no-repeat, $attachment: scroll );
    }

    nav {
        float: left;
        width: 85%;
        height: $top-bar-height - 10px;
    }

    
    @include bp( medium ) {
        min-width: $top-bar-min-width;
        width: 100%;
        position: fixed;
        top: 0; left: 0;   
    }

}


nav[role='navigation'] {
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    > ul > li {
        width: ( 100 / 5 ) * 1%;
        display: inline-block;
        position: relative;
        z-index: 1;

        > a {
            height: $nav-height;
            line-height: $nav-height;

            color: white;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: $sub-nav-padding;
        }

        &:hover {
            .sub-nav {
                visibility: visible;
                opacity: 1;
            }
        }
        
        @include bp( medium ) {
            &:nth-child(1) {
                .sub-nav{
                    padding-left: 10%;
                }
            }

            &:nth-child(2) {
                .sub-nav {
                    padding-left: 25%;
                }
            }

            &:nth-child(3) {
                .sub-nav {
                   padding-left: 48%;
                }
            }
        }
        
        
    }
    
    .sub-nav {
        position: absolute;
        padding: $sub-nav-padding;
        background: #fff;
        background: rgba( white, .85 );
        text-transform: uppercase;
        z-index: $top-bar-zindex * 2;
            
        visibility: hidden;
        width: 100%;
        opacity: 0;
            
        
        a {
            color: #000;
            padding: 2px 5px 0 5px;

            &.active {
                text-decoration: underline;
            }

        }
        

        &.show {
            visibility: visible;
        }


        @include backface-visibility( hidden );
        @include transition( opacity .15s ease-in );

        
        @include bp( medium ) {
            position: fixed;
            left: 0;
            
            
            li {
                float: left;
                margin-right: 5px;            
            }

            .sep {
                border-right: solid 1px #000;
                height: 14px;
                width: 0;
                margin-top: 6px;
            }
        }



            


        

    }


}
