@mixin bg( $image, $repeat: no-repeat, $position: top center, $attachment: fixed, $color: false ) {
    
    background-image: image-url( $image );

    @if $repeat {
        background-repeat: $repeat;
    }

    @if $position {
        background-position: $position;
    }

    @if $attachment {
        background-attachment: $attachment;
    }

    @if $color {
        background-color: $color;
    }
}