#about-intro {
    @include bg("about-collage.jpg", $repeat: no-repeat, $position: center center);
}

#about-video {
    figure {
        width: 538px;
    }
}

.recipient {
    figure.row {
        opacity: .45;
    }
}

.about-logos {

    a {
        float: left;
        &:first-child {
            margin-top: 28px;       
        }

        &:last-child {
            float: right;
        }
    }
    

    @include cf;
    
}