[class*="-credits"] {
    
    min-height: 800px;

    background: {
        position: 0 0;
        repeat: no-repeat;
        color: #666;
        size: 45%;
    };
    
    &.porto-credits {
        @include bg("porto/credits.jpg", $position: false, $repeat: false, $attachment: false, $color: false );
    }
    
    &.medellin-credits {
        @include bg("medellin/credits.jpg", $position: false, $repeat: false, $attachment: false, $color: false );
    }

    @include bp( medium ) {
        background-attachment: fixed;
        background-size: auto auto;
    }
}

