#credits {
    
    background: {
        image: url(http://placehold.it/564x750), url(http://placehold.it/564x1000/bada55);
        position: 0 0, 0 750px;
        repeat: no-repeat;
        attachment: scroll;
        color: #666;
    };

    min-height: 800px;

}

