[class*="-credits"] {
    
    min-height: 800px;

    background: {
        position: 0 0;
        repeat: no-repeat;
        attachment: fixed;
        color: #666;
    };
    
    &.porto-credits {
        @include bg("porto/credits.jpg", $position: false, $repeat: false, $attachment: false, $color: false );
    }
    
    &.medellin-credits {
        @include bg("medellin/credits.jpg", $position: false, $repeat: false, $attachment: false, $color: false );
    }
}

