

.row {
    @extend %cf;
    @extend %sizing;
    width: $total-width;
    
    padding: {
        left:   ($row-padding - ( $gutter-width / 2 ) );
        right:  ($row-padding - ( $gutter-width / 2 ) );
    };
    
    margin: auto;
}


.content-area {
    @extend .row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-area,
.row {
    .row {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        margin-left: -($gutter-width / 2 );
        margin-right: -($gutter-width / 2 );
    }
}

[class*="col-"] {
    @extend %sizing;
    float: left;
    padding: {
        left:   $gutter-width / 2;
        right:  $gutter-width / 2;
    }
}

[class*="push-"],
[class*="pull-"] {
    position: relative;
}

// =Columns
@for $col from 1 through $total-columns {
    
    .col-#{$col} {
        width: column( $col );
        
        @if $col == $total-columns {
            float: none;
        }

    }

}



// =Pull and Push
@for $col from 1 through $total-columns {
    
    .push-#{$col} {
        left: column($col);
    }

    .pull-#{$col} {
        right: column($col);
    }

    
    .pull-flow-#{$col} {
        margin-left: -( column($col) );
    }

    .push-flow-#{$col} {
        margin-right: -( column($col ) );
    }

}


.tight {
    [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}