#home-map {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#home {
    position: relative;
    z-index: 1;
    width: 350px;
    margin: {
        left: auto;
        right: auto;
    };
    padding-bottom: 10px;
    
    article > header {
        margin-left: -210px;
    }

}