@import "compass/css3/box-sizing";
@import "grid";




html {
    height: 100%;
}

body {
    min-width: 1000px;
    padding-top: $top-bar-height + ($top-bar-padding * 2);
}

.wrap {
    @extend %sizing;

    min-height: 100%;
    height: auto;
    
    > section {
        padding: 100px 0 200px;
    }

    .map-wrap {
        background: #666;
        padding-top: 0;
        padding-bottom: 0;
    }

}

%over-dark {
    background: lighten( $dark-color, 20% );
    background: rgba( $dark-color, .45 );
}

.dark-back {
    background: $dark-color;
}

.over-dark {
    @extend %over-dark;
    @extend .light-text;
}

.over-light {
    background-color: white;
}

.canvas-row {
    background: #fff;
    
    &.passive {
        @extend %over-dark;
    }
}




// =Breathing room

@each $breath in 20, 40, 60, 80, 100, 120, 140, 160, 180, 200 {
    
    .breath-top-#{$breath} {
        margin-top: $breath * 1px;
    }

    .breath-bottom-#{$breath} {
        margin-bottom: $breath * 1px;
    }
    

    .push-top-#{$breath} {
        padding-top: $breath * 1px;
    }
    

    .push-bottom-#{$breath} {
        padding-bottom: $breath * 1px;
    }

}