#medellin-intro {

    @include bg( "medellin-intro.jpg", $position: 0 0, $repeat: no-repeat );
    
    height: 500px;
    padding-top: 200px;

    aside {
        font-size: em-calc(18px);
        line-height: 1.5;
    }

}

#medellin-intro-2 {
    background: #fff;
    
    footer {
        margin-top: 20px;
    }
    
    article {
        margin-bottom: 50px;
    }

}

#medellin-intro-3 {
    @include bg( "medellin/map/medellin-map-bg.jpg", $position: 0 0 );
    background-size: cover;

    color: white;

    .content-area {
        padding-bottom: 40px;
    }
}

#medellin-intro-5 {
    
    
    padding-top: 200px;

    @include bg( "medellin-intro-5.jpg", $position: center center );
    background-size: cover;

    color: white;
    font-size: em-calc(28px);
}




#medellin-map {
    .map {
        height: 428px;
        @include bg( "medellin/map/medellin-map-bg.jpg", $position: center center, $attachment: scroll );
    }
}   

    #green-line {
        stroke-dasharray: 360px;
        stroke-dashoffset: -360px;
    }

#interactive-graph {
    min-height: 240px;

    padding: {
        left: $map-offset;
        top: 50px;
        bottom: 50px;
    };
    

    .button-group {
        
        font-size: em-calc( 12px );

        li {
            &:nth-child(1) {
                width: 146px;
            }
            &:nth-child(2) {
                
            }
            &:nth-child(3) {
                width: 140px;
            }   
        }
    }
}

.medellin-timeline {
    @include bg("medellin/medellin-timeline.svg", $position: 0 0, $attachment: scroll );
    height: 738px;
}

