#medellin-intro {

    @include bg( "medellin-intro.jpg", $position: 0 0, $repeat: no-repeat );
    
    padding-bottom: 200px;

    aside {
        font-size: em-calc(18px);
        line-height: 1.5;
    }

}

#medellin-intro-2 {
    background: #fff;
    
    footer {
        margin-top: 20px;
    }
    
    article {
        margin-bottom: 50px;
    }

}

#medellin-intro-3 {
    @include bg( "medellin/medellin-map.jpg", $position: -30px 0, $color: #000 );

    color: white;

    .content-area {
        padding-bottom: 40px;
    }
}

#medellin-intro-5 {
    
    
    @include bg( "medellin-intro-5.jpg", $position: center center );
    background-size: cover;

    color: white;
    font-size: em-calc(28px);
}


.fixed-image {
    position: fixed;
    top: 130px;
    left: 110px;
    opacity: 0;

    &.mobility-image {
        top: 190px;
        left: 170px;
    }
}


#medellin-map {
    .map {
        height: 428px;
        @include bg( "medellin/map/medellin-map-bg.jpg", $position: center center, $attachment: scroll );
    }
}   

    #green-line {
        stroke-dasharray: 360px;
        stroke-dashoffset: -360px;
    }



.medellin-timeline {
    @include bg("medellin/medellin-timeline.svg", $position: 0 0, $attachment: scroll );
    height: 738px;
}

