#medellin-intro {

    @include bg( "medellin-intro.jpg", $position: 0 0, $repeat: no-repeat );
    
    padding-bottom: 200px;

    aside {
        font-size: em-calc(18px);
        line-height: 1.5;
    }

}

#medellin-intro-2 {
    background: #fff;
    
    footer {
        margin-top: 20px;
    }
    
    article {
        margin-bottom: 50px;
    }

}

#medellin-intro-3 {
    @include bg( "medellin/medellin-map.jpg", $position: -30px 0, $color: #000 );

    color: white;

    .content-area {
        padding-bottom: 40px;
    }
}

#medellin-intro-5 {

    @include bg( "medellin-intro-5.jpg", $position: center center );
    background-size: cover;
    color: white;
    
}

.fixed-image {
    position: fixed;
    top: 130px;
    left: 110px;

    &.homicides-image {
        top: 190px;
        left: 170px;
    }

    &.homicides-area {
        top: 217px;
        left: 389px;
    }

    &.metro-lines {
        left: 210px;
    }

    &.settlements {
        width: 404px;
        top: 68px;
        left: 140px;

        ul {
            margin-bottom: 25px;
        }

        li {
            width: 25%;
            text-align: right;
        }

    }
}


#medellin-map {
    min-height: $medellin-map-height;
}

    #green-line {
        stroke-dasharray: 360px;
        stroke-dashoffset: -360px;
    }


.medellin-timeline {
    @include bg("medellin/timeline/medellin-timeline.svg", $position: 0 0, $attachment: scroll );
    height: 738px;
}

