
#porto-intro {
    @include bg( "porto/intro-image.jpg", $position: top center );

    color: white;
}


#naw-first {
    @include bg( "porto/naw-bg.jpg", $position: top center, $attachment: scroll );
    background-size: cover;   
}

#naw-second {
    @include bg( "porto/naw-second-bg.jpg", $position: top left, $attachment: scroll );
}

#porto-intro-5 {
    @include bg( "porto/section-4-bg.jpg", $position: top center, $attachment: fixed );
    background-size: cover;
    
    padding-top: 300px;
    padding-bottom: 300px;

    aside {
        color: white;
        font-size: em-calc( 30px );
        text-align: center;
    }
}

#porto-map {
    .map {
        height: 752px;
        @include bg( "porto/map/porto-map-bg.jpg", $position: center center, $attachment: scroll );
    }

    .fixed-map {
        height: 752px;
    }
}