

#porto-intro {
    @include bg( "porto/intro-image.jpg", $position: 50% 50px );
    color: white;
    
    p {
        @include transform( translateY( -70px ) );
    }
}


#naw-first {
    @include bg( "porto/naw-bg.jpg", $position: top center, $attachment: scroll );
    background-size: cover;   
}

#naw-second {
    @include bg( "porto/naw-second-bg.jpg", $position: top left, $attachment: scroll );
}

#porto-intro-5 {
    @include bg( "porto/section-4-bg.jpg", $position: top center, $attachment: fixed );
    background-size: cover;
    
    padding-top: 300px;
    padding-bottom: 300px;

    aside {
        color: white;
        font-size: em-calc( 30px );
        text-align: center;
    }
}

#porto-map {
    
    min-height: $porto-map-height;

    .fixed-content {
        min-height: $porto-map-height;
        .fixed {
            height: $porto-map-height;
        }
    }

    svg {
        path {
            stroke-dasharray: 780px;
            stroke-dashoffset: -780px;
            @include transition( stroke-dashoffset 1.5s linear );
        }

        #locations {
            opacity: 0;
            @include transition( opacity 1s linear );
            @include transition-delay( 1.5s );
        }
    }

    &.ready {
        svg {
        
        path {
            stroke-dashoffset: 0px;
        }
        #locations {
            opacity: 1;
        }
    }

    }
}



.porto-timeline__2000 {
    
    height: 379px;
}

.porto-timeline__2008 {
    
    height: 591px;
}