.gsd-logo {
    display: block;
    width: 165px;
    height: 40px;
    text: {
        decoration: none;
        indent: 200%;
    };
    font-size: 0;
    overflow: hidden;
    
    @include bg( "gsd-logo-white.png", $position: 0 0, $attachment: scroll );
    

}

.home-logo {
    @extend %ir;
    @include bg( "logo.svg", $position: top center, $attachment: scroll );
    height: 200px;
}