// =Helpers

/* Clearfix */
%cf {
    @include cf;
}

.cf {
    @extend %cf;
}


.hide {
    display: none;
}

%sizing {
    @include box-sizing( border-box );
}


/* Align */
.alignright {
    float: right;
}

.alignleft {
    float: left;
}