// =Helpers

/* Clearfix */
%cf {
    @include cf;
}

.cf {
    @extend %cf;
}


.hide {
    display: none;
}

%sizing {
    @include box-sizing( border-box );
}

.light-bg {
    background-color: #fff;
}

/* Align */
.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.align-opposite {
    text-align: right;
}

.divider {
border-right: 1px solid $shade-color;
}