// =Base
$base-line-height: 1.6;

// =Headers 
$header-font-family: $base-font-family;

$h1-size: em-calc( 38px );
$h2-size: em-calc( 32px );
$h3-size: em-calc( 28px );
$h4-size: em-calc( 21px );
$h5-size: em-calc( $base-font-size );
$h6-size: em-calc( 14px );

//= Paragraphs
$p-line-height: 1.5;
$txt-margin: 25px;

//= Intro
$large-intro-font-size: 20px;
$large-intro-line-height: ( 30 / strip-unit( $large-intro-font-size ) );

//= Callout and blockquote
$callout-font-family: "Flama", $font-fallback;
$callout-font-size: 34px;
$callout-line-height: ( 48 / strip-unit( $callout-font-size ) );
$callout-txt-color: $txt-gray;

//= Definition list
$definition-title-margin: 15px;


html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    font-weight: normal;
    color: $txt-base-color;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 $txt-margin;
}

p {
    margin-top: $txt-margin;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
}

h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h4 {
    font-size: $h4-size;
}

h5,
.heading {
    font-weight: bold;
}

h5,
.heading {
    font-size: $h5-size;
    font-weight: 700;
}

h6 {
    font-size: $h6-size;
}

textarea,
p,
.callout {
    line-height: $base-line-height;
}


/** =Strong Text **/
dt,
strong {
    font-weight: 600;
}

/** = Callouts **/

%callout {
    color: $callout-txt-color;

    font: {
        family: $callout-font-family;
        weight: normal;
    };
}

blockquote {
    @extend %callout;
    quotes: "\201C""\201D""\2018""\2019";
    position: relative;

    &:before {
          content: open-quote;
          position: absolute;
          left: -0.5em;
    }

    &:after {
        content: close-quote;
    }
}

.callout {
    @extend %callout;
    font-size: em-calc( $callout-font-size );
    line-height: $callout-line-height;
}

.large-intro-text {
    font-size: em-calc( $large-intro-font-size );
    line-height: $large-intro-line-height;
    
    &.map-intro {
        color: blue;
    }

}


/** = Text Colors **/

.light-text {
    color: white;
}

%highlight-text {
    color: $txt-highlight;
}

%active-text {
    color: $txt-active;
}

%shade-text {
    color: $txt-gray;
}

%dark-shade-text {
    color: $txt-dark-gray;
}

%page-title {
    text-transform: uppercase;
}


.location-text {
    @extend .light-text;
}

.txt-highlight {
    @extend %highlight-text;
}

.shade-text {
    @extend %shade-text;
}

.dark-shade-text {
    @extend %dark-shade-text;
}

.base-text {
    color: $txt-base-color;
}

.medellin-aside {
    @extend %highlight-text;
}

.porto-aside {
    @extend %active-text;
}

.page-title {
    @extend %dark-shade-text;
    @extend %page-title;
}

.quote-wrap {
    color: $txt-gray;
    font-size: em-calc( 20px );
}

.quote-signature {
    color: $txt-dark-gray;
}


.jury {
    @extend %shade-text;
}

.allcaps {
    text-transform: uppercase;
}

/** =Definition Lists **/

dt {
    margin-top: $definition-title-margin;
    &:first-child {
        margin-top: 0;
    }
}

.jury-list {
    dd {
        color: $callout-txt-color;
    }
}


/** =Headings */
.logo-heading {
    color: $txt-logo;
    text-transform: uppercase;
    font-size: em-calc( $base-font-size );
}