@import "compass/css3/box-sizing";
@import "grid";


html {
    height: 100%;
}

body {
    min-width: 1000px;
}

.wrap {
    @extend %sizing;

    min-height: 100%;
    height: auto;
    
    > section {
        padding: 100px 0 200px;
    }
}

.canvas-row {
    background: #fff;
    
    &.passive {
        background: rgba( black, .45 );
    }

}

