#medellin-intro {
    background-image: url(http://placehold.it/1400x800);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    height: 500px;
    padding-top: 200px;

    aside {
        font-size: em-calc(18px);
        line-height: 1.5;
    }

}

#medellin-intro-2 {
    background: #fff;
    
    
    figure {
        position: relative;

        figcaption {
            min-height: 180px;
            position: absolute;
        }
    }


    footer {
        margin-top: 20px;
    }
    
    article {
        margin-bottom: 50px;
    }

}


#medellin-video { }


#medellin-intro-3 {
    @include bg( "medellin-map.jpg", $position: 0 0 );
    color: white;

    .content-area {
        padding-bottom: 40px;
    }
}

#medellin-intro-5 {
    height: 500px;
    background: url( 'http://placehold.it/1400x800' ) 0 0 no-repeat;
    color: white;
    font-size: em-calc(28px);
}


#map {
    background: #666;
    padding-top: 0;
    padding-bottom: 0;
}

#interactive-map {
    
    @include bg( "medellin-interactive-map.jpg", $position: center center, $attachment: scroll );

    width: 566px;
    height: 428px;
    
    margin-left: -181px;
}   

    #areas {
        display: none;
    }
    
    #green-line {
        stroke-dasharray: 360px;
        stroke-dashoffset: -360px;
    }

#interactive-graph {
    background: #fff;
    min-height: 240px;
}
#interactive-content {}