
$base-font-size: 17px;
$font-fallback: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

$base-font-family: Roboto, #{$font-fallback};

$total-width: 1040px;
$total-columns: 12;
$row-padding: 55px;
$gutter-width: 6px;


$txt-highlight: #A5CE3A;
$txt-active: #00AEEF;