$base-font-size: 17px;
$font-fallback: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

$base-font-family: Roboto, #{$font-fallback};

$total-width: 1040px;
$total-columns: 12;
$row-padding: 55px;
$gutter-width: 6px;

$txt-base-color: #000;
$txt-logo: #8C5A95;

$txt-highlight: #A5CE3A;
$txt-active: #00AEEF;
$txt-gray: #AAA9AA;
$txt-dark-gray: #6D6E70;

$shade-color: #AAA9AA;
$dark-shade-color: #6D6E70;

$dark-color: #231F20;


// =Top Bar
$top-bar-height: 30px;
$top-bar-font-family: "Flama", #{$font-fallback};
$top-bar-bg: black;

$top-bar-padding: 10px;
$top-bar-min-width: 1000px;

$nav-height: $top-bar-height;

$top-bar-font-size: 14px;

$sub-nav-padding: 10px;

$top-bar-zindex: 2;